#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #f0efef;
    padding: 4px;
  }
  
  /* #table tr:nth-child(even){background-color: #fcfafa;} */
  
  #table tr:hover {background-color: #bed8f5;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #e1faf8; */
  }
